/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-reset {
  text-decoration: none;
}

.directions-block__heading, .team-block__heading, .clients-block__heading {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
}

.teammate__social-networks, .join-block__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
}

.button, .subscribe-block__button, .order-form__submit {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .subscribe-block__button:hover, .order-form__submit:hover, .button:focus, .subscribe-block__button:focus, .order-form__submit:focus {
  background-color: #188ce8;
}

.button-menu {
  margin-left: auto;
  border: none;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.button-menu:hover, .button-menu:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.button-menu__icon--close {
  display: none;
}

.button-menu.is-open .button-menu__icon--close {
  display: block;
}

.button-menu.is-open .button-menu__icon--open {
  display: none;
}

.button-close {
  position: absolute;
  padding: 0;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
}

.button-close:hover, .button-close:focus {
  fill: #2196f3;
}

.button-close__icon {
  display: block;
  margin: auto;
  width: 11px;
  height: 11px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.page-header .container {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .page-header .container {
    min-height: 80px;
  }
}

.company-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  color: #000000;
}

.company-logo--colored {
  color: #2196f3;
}

.company-logo--white {
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .page-header .company-logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .company-logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    background-color: #ffffff;
  }
  .mobile-menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* navigation */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: #000000;
}

.nav__link.current-page, .nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .nav {
    display: block;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    position: relative;
    padding: 32px 0;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav__link.current-page::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    position: absolute;
    bottom: 0;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__link {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: inherit;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contacts__link {
    font-size: 24px;
  }
  .contacts__link.tel {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__link {
    font-size: 12px;
  }
  .contacts__link.email {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-top: auto;
    margin-bottom: 64px;
  }
  .contacts__link.tel {
    margin-bottom: 32px;
    font-size: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-bg-mobile.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero__heading {
  width: 360px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__heading {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.features-block .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features-block .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 768px -1px) {
  .features {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
}

@media screen and (max-width: 480px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.features__description {
  margin: 0;
}

.features__heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.icon-antenna:before {
  background-image: url("../images/svg/optimized/antenna.svg");
}

.icon-clock:before {
  background-image: url("../images/svg/optimized/clock.svg");
}

.icon-diagram:before {
  background-image: url("../images/svg/optimized/diagram.svg");
}

.icon-astronaut:before {
  background-image: url("../images/svg/optimized/astronaut.svg");
}

@media screen and (max-width: 1199px) {
  .directions-block {
    display: none;
  }
}

.directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.directions__item {
  overflow: hidden;
  position: relative;
}

.directions__item:not(:last-child) {
  margin-right: 30px;
}

.directions__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team-block {
  background-color: #f5f4fa;
}

.team-block .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-block__profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0;
  margin: -15px;
}

.teammate {
  -ms-flex-preferred-size: calc(100% - 2 * 15px);
      flex-basis: calc(100% - 2 * 15px);
  margin: 15px;
  background: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.teammate__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teammate__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
  margin: 0;
  margin-bottom: 10px;
}

.teammate__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin-bottom: 16px;
}

.social-network:not(:last-child) {
  margin-right: 10px;
}

.social-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover, .social-network__link:focus {
  background-color: #2196f3;
  outline: transparent;
}

.social-network__link:hover > .social-network__icon,
.social-network__link:focus > .social-network__icon {
  fill: #ffffff;
}

.social-network__icon {
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__icon--light {
  fill: #ffffff;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.social-links__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.social-links__item:not(:first-child) {
  padding-left: 10px;
}

.social-links__link {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .social-links {
    display: none;
  }
}

.clients-block .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-block__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #afb1b8;
  margin: -15px;
}

.client {
  -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
      flex-basis: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .client {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client {
    -ms-flex-preferred-size: calc((100% - 12 * 15px) / 6);
        flex-basis: calc((100% - 12 * 15px) / 6);
  }
}

.client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon:hover, .client__icon:focus {
  border-color: #2196f3;
  outline: transparent;
}

.client__logo {
  fill: #afb1b8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon:hover .client__logo,
.client__icon:focus .client__logo {
  fill: #2196f3;
}

.logo-1 {
  width: 45px;
  height: 50px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 43px;
}

.logo-4 {
  width: 80px;
  height: 42px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 88px;
  height: 45px;
}

.icon {
  margin-right: 10px;
  fill: currentColor;
}

.icon__envelope {
  width: 16px;
  height: 12px;
}

.icon__smartphone {
  width: 10px;
  height: 16px;
}

@media screen and (max-width: 767px) {
  .icon {
    display: none;
  }
}

.icon-social-network {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #212121;
}

.page-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .page-footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .page-footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

.address {
  font-style: normal;
  margin-bottom: 60px;
}

.address__postal {
  color: #ffffff;
  margin: 0;
  margin-bottom: 9px;
}

.contact:not(:last-child) {
  margin-bottom: 9px;
}

.contact__tel, .contact__tel:visited, .contact__email, .contact__email:visited {
  color: rgba(255, 255, 255, 0.6);
}

.join-block {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .join-block {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .join-block {
    margin-top: 12px;
  }
}

.subscribe__text, .join-block__heading, .subscribe-block__text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-block {
  margin-top: 12px;
}

.subscribe-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-block__email {
  height: 50px;
  padding: 15px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-block__button {
  padding: 10px 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-block .button__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .subscribe-block {
    width: 450px;
  }
  .subscribe-block__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe-block__email {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-block__email {
    width: 358px;
    margin-right: 12px;
  }
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal__window {
    width: 528px;
    height: 581px;
  }
}

.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-form__text {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.order-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.order-form__input, .order-form__user-comment {
  margin: 0;
  width: 100%;
  padding: 11px 16px 11px 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__input {
  height: 40px;
}

.order-form__user-comment {
  resize: none;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.order-form__input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.order-form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__input:focus, .order-form__user-comment:focus {
  border-color: #2196f3;
  outline: transparent;
}

.order-form__input:focus + .order-form__input-icon {
  fill: #2196f3;
}

.order-form__user-policy {
  position: relative;
  margin-bottom: 30px;
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .order-form__user-policy {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .order-form__user-policy {
    margin-left: 32px;
  }
}

.order-form__submit {
  padding: 10px 55px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.order-form__submit:hover, .order-form__submit:focus {
  background-color: #188ce8;
}

.order-form__is-policy--unchecked, .order-form__is-policy--checked {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  margin-left: -20px;
  width: 16px;
  height: 15px;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .order-form__is-policy--unchecked, .order-form__is-policy--checked {
    margin-left: -24px;
  }
}

.order-form__is-policy--checked {
  opacity: 0;
}

.order-form__is-policy:checked ~ .order-form__is-policy--unchecked {
  opacity: 0;
}

.order-form__is-policy:checked ~ .order-form__is-policy--checked {
  opacity: 1;
}

.user-policy__link,
.user-policy__link:active,
.user-policy__link:hover,
.user-policy__link:visited {
  text-decoration: underline;
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */