.icon {
  margin-right: 10px;
  fill: currentColor;
}

.mail-icon {
  width: 16px;
  height: 12px;
}

.phone-icon {
  width: 10px;
  height: 16px;
}

.logo-1 {
  width: 45px;
  height: 50px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 43px;
}

.logo-4 {
  width: 80px;
  height: 42px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 88px;
  height: 45px;
}

.icon-social-network {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

// .card-description .icon-social-network {
//   fill: $fill-dark;
//   transition: fill $transition-defaults;
// }

// .card-description .social-link:hover > .icon-social-network,
// .card-description .social-link:focus > .icon-social-network {
//   fill: $fill-light;
// }
