.clients-block {
  & .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__heading {
    @extend %section__heading;
  }

  &__clients {
    display: flex;
    flex-wrap: wrap;
    color: $fill-dark;
    margin: -15px;
  }

  @media screen and (max-width: $tablet - 1px) {
    &__heading {
      font-size: 28px;
    }
  }

  @media screen and (min-width: $desktop) {
    & .container {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    &__heading {
      margin-bottom: 50px;
    }
  }
}
