.company-logo {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  color: $color-dark;

  &--colored {
    color: $accent-color;
  }

  &--white {
    display: block;
    color: $color-light;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: $tablet) {
  .page-header .company-logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: $desktop) {
  .page-header .company-logo {
    margin-right: 93px;
  }
}
