.contacts {
  display: flex;

  &__link {
    color: inherit;
    display: flex;
    align-items: center;
    line-height: inherit;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  @media screen and (max-width: $tablet - 1px) {
    flex-direction: column-reverse;

    &__link {
      font-size: 24px;
    }

    &__link.tel {
      color: $accent-color;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    flex-direction: column;

    &__link {
      font-size: 12px;
    }

    &__link.email {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: $tablet - 1px) {
    margin-top: auto;
    margin-bottom: 64px;

    &__link.tel {
      margin-bottom: 32px;
      font-size: 34px;
    }
  }

  @media screen and (min-width: $desktop) {
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}
