.icon {
  margin-right: 10px;
  fill: currentColor;
}

.mail-icon {
  width: 16px;
  height: 12px;
}

.phone-icon {
  width: 10px;
  height: 16px;
}

.icon-social-network {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

// .card-description .icon-social-network {
//   fill: $fill-dark;
//   transition: fill $transition-defaults;
// }

// .card-description .social-link:hover > .icon-social-network,
// .card-description .social-link:focus > .icon-social-network {
//   fill: $fill-light;
// }
