.join-block {
  margin-bottom: 60px;

  &__heading {
    @extend .subscribe__text;
  }

  &__social-networks {
    @extend %social-networks;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 5px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 12px;
    margin-bottom: 0;
  }
}

.subscribe__text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-light;
}
