.social-network {
  &:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $footer-social-link-bg;
    color: $fill-light;
    transition: background-color $transition-defaults;
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
    outline: transparent;
  }

  &__link:hover > &__icon,
  &__link:focus > &__icon {
    fill: $fill-light;
  }

  &__icon {
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
    fill: $fill-dark;
    transition: fill $transition-defaults;
  }

  &__icon--light {
    fill: $fill-light;
  }
}

// mobile menu social links
.social-links {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: $accent-color;

  &__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }

  &__item:not(:first-child) {
    padding-left: 10px;
  }

  &__link {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
