.teammate {
  &__card {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: $primary-font-color;
    margin: 0;
    margin-bottom: 10px;
  }

  &__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin: 0;
    margin-bottom: 16px;
  }
}
