.button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-light;
  background-color: $accent-color;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: $button-shadow;
  transition: background-color $transition-defaults;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}
