.subscribe {
  margin-top: 12px;

  &__form {
    display: flex;
  }

  &__email {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;

    box-shadow: $button-shadow;
  }

  &__button {
    @extend .button;
    padding: 10px 29px;
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    margin-left: 10px;
  }
}
