.features-list {
  display: flex;

  &__item {
    max-width: 270px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item::before {
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $secondary-bg-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__description {
    margin: 0;
  }

  &__heading {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-font-color;
  }
}
